@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    overflow: hidden;
  }

  #root {
    min-height: 600px;
    min-width: 320px;
  }
}

@keyframes f1t2 {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 33.33%;
  }
}

@keyframes f1t3 {
  from {
    margin-left: 0;
  }

  to {
    margin-left: auto;
  }
}

@keyframes f2t3 {
  from {
    margin-left: 33.33%;
  }

  to {
    margin-left: auto;
  }
}

.no-bg-green {
  @apply font-extrabold active:text-primary-active text-4xl text-primary;
}

.no-bg-black {
  @apply font-extrabold active:text-gray-500 text-4xl text-black;
}

.outlined-bnt {
  @apply rounded-full z-50 border-primary border-bold active:border-extra font-bold bg-white;
}

.outlined-bnt-flipped {
  @apply rounded-full z-50 border-white border-bold active:border-extra font-bold bg-primary;
}

.green-backdrop {
  @apply bg-primary w-expanded ml-expanded-compensation rounded-b-ellipse px-expanded-compensation;
}

.content-box {
  @apply text-center bg-white text-black pb-10 rounded-b-ellipse rounded-t-5xl;
}

.rounded-indicator {
  @apply mt-2 rounded-t-full w-16 h-8 mx-auto;
}

.player-1-2-players, .player-1-3-players, .player-1-4-players {
  @apply bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2;
}

.player-2-2-players, .player-3-4-players {
  @apply top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.player-2-3-players {
  @apply top-0 right-0 transform translate-y-1/3 translate-x-1/3;
}

.player-2-4-players {
  @apply transform top-1/2 -translate-y-1/2 right-0 translate-x-1/2;
}

.player-3-3-players {
  @apply top-0 left-0 transform translate-y-1/3 -translate-x-1/3;
}

.player-4-4-players {
  @apply transform top-1/2 -translate-y-1/2 left-0 -translate-x-1/2;
}